/MyProjects/obj/Debug/net8.0-android/build.props
/.idea/.idea.MyProjects/.idea/git_toolbox_prj.xml
/.idea/.idea.MyProjects/.idea/indexLayout.xml
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/libraryprojectimports.cache
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.CSharp.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Configuration.Abstractions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Configuration.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.DependencyInjection.Abstractions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.DependencyInjection.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Logging.Abstractions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Logging.Debug.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Logging.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Options.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Extensions.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.MacCatalyst.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.Controls.Compatibility.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.Controls.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.Controls.Xaml.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.Essentials.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.Graphics.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Maui.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.VisualBasic.Core.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.VisualBasic.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Win32.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/Microsoft.Win32.Registry.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/mscorlib.stamp
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/MyProjects.AssemblyInfoInputs.cache
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/MyProjects.AssemblyInfoInputs1.cache
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/MyProjects.assets.cache
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/MyProjects.assets1.cache
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/MyProjects.assets2.cache
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/MyProjects.sourcelink.json
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/netstandard.stamp
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/project.nuget.cache
/MyProjects/obj/project.packagespec.json
/.idea/.idea.MyProjects/.idea/projectSettingsUpdater.xml
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/PublishOutputs.7994749444.txt
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res1.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res2.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res3.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res4.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res5.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res6.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res7.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res8.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res9.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res10.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res11.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res12.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res13.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res14.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res15.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res16.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res17.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res18.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res19.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res20.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res21.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res22.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res23.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res24.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res25.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res26.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res27.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res28.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res29.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res30.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res31.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res32.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res33.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res34.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res35.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res36.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res37.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res38.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res39.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res40.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res41.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res42.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res43.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res44.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res45.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res46.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res47.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res48.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res49.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res50.zip
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/res51.zip
/MyProjects/obj/rider.project.model.nuget.info
/MyProjects/obj/rider.project.restore.info
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024,_01_01_[Changes]/shelved.patch
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.AppContext.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Buffers.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Collections.Concurrent.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Collections.Immutable.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Collections.NonGeneric.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Collections.Specialized.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Collections.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.Annotations.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.DataAnnotations.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.EventBasedAsync.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ComponentModel.TypeConverter.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Configuration.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Console.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Core.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Data.Common.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Data.DataSetExtensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Data.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.Contracts.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.Debug.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.DiagnosticSource.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.FileVersionInfo.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.Process.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.StackTrace.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.TextWriterTraceListener.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.Tools.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.TraceSource.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Diagnostics.Tracing.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Drawing.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Drawing.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Dynamic.Runtime.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Formats.Asn1.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Formats.Tar.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Globalization.Calendars.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Globalization.Extensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Globalization.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Compression.Brotli.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Compression.FileSystem.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Compression.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Compression.ZipFile.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.FileSystem.AccessControl.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.FileSystem.DriveInfo.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.FileSystem.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.FileSystem.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.FileSystem.Watcher.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.IsolatedStorage.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.MemoryMappedFiles.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Pipes.AccessControl.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.Pipes.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.IO.UnmanagedMemoryStream.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Linq.Expressions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Linq.Parallel.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Linq.Queryable.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Linq.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Memory.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Http.Json.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Http.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.HttpListener.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Mail.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.NameResolution.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.NetworkInformation.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Ping.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Quic.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Requests.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Security.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.ServicePoint.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.Sockets.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.WebClient.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.WebHeaderCollection.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.WebProxy.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.WebSockets.Client.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Net.WebSockets.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Numerics.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Numerics.Vectors.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ObjectModel.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.DispatchProxy.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Emit.ILGeneration.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Emit.Lightweight.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Emit.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Extensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Metadata.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Reflection.TypeExtensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Resources.Reader.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Resources.ResourceManager.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Resources.Writer.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.CompilerServices.Unsafe.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.CompilerServices.VisualC.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Extensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Handles.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.InteropServices.JavaScript.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.InteropServices.RuntimeInformation.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.InteropServices.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Intrinsics.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Loader.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Numerics.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Serialization.Formatters.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Serialization.Json.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Serialization.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Serialization.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.Serialization.Xml.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Runtime.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.AccessControl.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Claims.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.Algorithms.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.Cng.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.Csp.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.Encoding.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.OpenSsl.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.Primitives.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Cryptography.X509Certificates.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Principal.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.Principal.Windows.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.SecureString.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Security.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ServiceModel.Web.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ServiceProcess.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.Encoding.CodePages.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.Encoding.Extensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.Encoding.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.Encodings.Web.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.Json.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Text.RegularExpressions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Channels.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Overlapped.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Tasks.Dataflow.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Tasks.Extensions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Tasks.Parallel.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Tasks.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Thread.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.ThreadPool.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Threading.Timer.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Transactions.Local.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Transactions.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.ValueTuple.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Web.HttpUtility.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Web.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Windows.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.Linq.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.ReaderWriter.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.Serialization.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.XDocument.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.XmlDocument.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.XmlSerializer.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.XPath.stamp
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/System.Xml.XPath.XDocument.stamp
/.idea/.idea.MyProjects/.idea/shelf/Uncommitted_changes_before_Update_at_07_10_2024__01_01__Changes_.xml
/MyProjects/obj/Debug/net8.0-maccatalyst/maccatalyst-arm64/resourcestamps/WindowsBase.stamp
/.idea/.idea.MyProjects/.idea/workspace.xml
